<main class="d-flex flex-column justify-content-center">
  <h1 class="text-center">
    Bienvenido a la Plataforma de Gestión de Datos de Energías Renovables
  </h1>
  <img src="../../../assets/main-image.webp" alt="energías renovables" />

  <p>Esta aplicación te permite gestionar y analizar información sobre la producción y consumo de energías renovables a nivel mundial. Nuestro objetivo es facilitar el acceso y visualización de datos para tomar decisiones informadas sobre el desarrollo sostenible.</p>
</main>
