main {
  margin-top: 40px;
  color: black;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

img {
  margin: 0 auto;
  width: 36%;
  height: 40%;
  border-radius: 20px;
}

p {
  font-size: 1.4rem;
  margin: 20px 100px;
  padding: 0 50px;
}
