section {
  margin-bottom: 30px;
}

h2 {
  text-align: center;
}

.canvas-container {
  margin-top: 20px;
  padding: 20px 40px;
  background-color: whitesmoke;
}

.subtitles {
  color: black;
}

.button-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente, si es necesario */
    height: 100px; /* Ajusta según sea necesario */
}

.btn-register {
  display: inline;
  width: 50%;
  padding: 12px;
  margin: 20px 0;
  border-radius: 5px;
  color: #fff;
  background-color: #0393d6;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-register:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.btn-register a {
  text-decoration: none;
  color: #fff;
}
