<div class="col-10 mx-auto my-5">
  <div class="button-container">
    <button class="btn-register">
      <a routerLink="/energy">Registrar energía</a>
    </button>
  </div>
  <table class="table table-light table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tipo de energía</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      @for (item of energy; track $index) {
      <tr>
        <td>
          <a [routerLink]="['/energy', item.type_energy_id]">
            {{ item.type_energy_id }}
          </a>
        </td>
        <td>{{ item.energy_name }}</td>
        <td>
          <button
            class="btn btn-danger"
            (click)="deleteEnergy(item.type_energy_id)"
          >
            Borrar
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
