<div class="col-10 mx-auto my-5">
  <div class="button-container">
    <button class="btn-register">
      <a routerLink="/country">Registrar país</a>
    </button>
  </div>
  <table class="table table-light table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>País</th>
        <th>Continente</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      @for (item of country; track $index) {
      <tr>
        <td>
          <a [routerLink]="['/country', item.country_id]">
            {{ item.country_id }}
          </a>
        </td>
        <td>{{ item.country_name }}</td>
        <td>{{ item.continent_name }}</td>
        <td>
          <button
            class="btn btn-danger"
            (click)="deleteCountry(item.country_id)"
          >
            Borrar
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
